# Used by Wrangler in local development
# In production, these should be set as Cloudflare Worker Secrets.

BETTER_AUTH_URL=http://localhost:8787
BETTER_AUTH_SECRET=

AUTH_MODE=better-auth
 
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=

DATABASE_URL=

# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend
RESEND_API_KEY=

UPSTASH_REDIS_REST_URL="****"
UPSTASH_REDIS_REST_TOKEN="****"

# D1
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=
