# Used for local development and CLI tools such as:
#
# - Drizzle CLI
# - Better Auth CLI

BETTER_AUTH_URL=http://localhost:8787
BETTER_AUTH_SECRET=

# production or dev
DATABASE_URL=


# Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Google
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Resend
RESEND_API_KEY=
FROM_EMAIL=